.banner{
    position: relative;
    overflow: hidden;
}

.banner::before{
    content: '';
    background-image: url('https://i.ibb.co/fDnWLnP/brand.jpg');
    background-repeat: no-repeat;
    background-position: center -10px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation: blurring 2s forwards;
}
