@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: rgb(255, 136, 0);
        --high: rgb(17, 17, 17);
        --mid: rgb(34, 34, 34);
        --low: rgb(51, 51, 51);
        --background: rgb(255, 255, 255);
        --fadegrey: rgba(68, 68, 68, 0.09);
    }

    :root[data-theme='dark'] {
        --high: rgb(238, 238, 238);
        --mid: rgb(202, 202, 202);
        --low: rgb(164, 164, 164);
        --background: rgb(33, 33, 33);
    }
}

body {
    font-family: sans-serif;
}

label {
    font-size: 1.2rem;
}

input {
    background-color: #8f8f8f2d;
    border-radius: 6px;
    width: 100%;
    padding: 1rem;
    outline: none;
    transition: all 0.2s;
}

input:focus {
    outline: 3px solid var(--primary);
}

.btn {
    transition: all 0.2s;
}

.btn:hover {
    scale: 1.04;
    cursor: pointer;
}

.btn:active {
    scale: 0.9;
}

.join{
    background-image: url('https://i.ibb.co/HX6xm4L/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.brr {
    border: 1px solid red;
}

.brb {
    border: 1px solid blue;
}